.card {
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 20px;
  height: 280px;
  width: 80%;
  transition: transfrorm 0.3 ease;
  align-self: center;
}

h1 {
  font-family: helvetica;
  font-style: oblique;
}

.sidePanel {
  padding: 20px;
  width: 20%;
}

.display {
  background-color: darkgrey;
  color: white;
  border-radius: 15px;
  padding: 20px;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

/* Styles for Tablets */
@media (min-width: 600px) {
  .display {
    padding: 25px; /* Increase padding for tablets */
    height: 80%; /* Adjust height for tablets */
    width: 95%; /* Adjust width for tablets */
    flex-direction: row; /* Stack content horizontally on tablets */
  }
}

/* Styles for Desktops */
@media (min-width: 1024px) {
  .display {
    padding: 30px; /* Original padding for desktop */
    height: 90%; /* Original height for desktop */
    width: 90%; /* Original width for desktop */
    flex-direction: row; /* Keep content horizontal */
  }
}

.question {
  padding: 20px;
}
.answer {
  padding: 10px;
}

.category {
  font-size: small;
  font-style: italic;
  text-align: left;
}

.cardId {
  font-size: small;
  font-style: oblique(2);
  text-align: right;
}

.showHide {
  background-color: darkmagenta;
  margin-bottom: 30px;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
